.DS_Store
catalog-v001.xml
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ohpi.owl
src/ontology/ohpi.obo
src/ontology/ohpi.json
src/ontology/ohpi-base.*
src/ontology/ohpi-merge.*
src/ontology/ohpi-full.*
src/ontology/catalog-v001.xml
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
